body {
	overflow-x: hidden;
}
ul {
  list-style-type: none;
  position: relative;
  left: 150px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div {
    display: block;
}
li {
  display:inline;
}


li a {
  font-family: 'Old Standard TT', serif;
  color: black;
  text-align: right;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 22px;
  border-right:1px solid #C5C5C5;
  display:inline-block;
}

li a:hover {
	text-decoration: none;
}
.ui.search-container {
	float:right;
	margin: 2px 5px 2px 5px;
	
}
.nav-header-left {
	float: left!important;
}

.item {
	width: 100%;
}
.centro-fitness-video {
	height:300px;
}

.video-container {
	padding: 20px 50px;
	position:relative
}

.mid-content {
	background-color: #F7F7F7;
	margin-top: 10px;
	padding-left: 4em;
	padding-right: 4em;
	display: flex;
}

.ads-placement-mid-right {
	height:500px;
	float:left;
	padding-top: 20px;
	position:relative;
	left: 8em;
	width: 450px;
}


.fb-page {
	position:relative;
	left: 180px;
    top: 50px;
}

.bottom-content {
	margin: 1em;
	padding: .2em;
	display: inline-flex;
}

.footer {
	position: relative;
    left: 0;
    bottom: -20px;
    width: 100%;
    text-align: center;
	display: inline-block;
}

.footer-hr {
	position: relative;
	top: 30px;
}

.video-info {
	color:#ACACAC!important;
	font-size: 12px;
	position: relative;
	bottom:8px;
}
